.main-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 10px;
}

.items-container{
   background-color: rgba(37, 72, 73, 0.484);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: fit-content;
    gap: 10px;
    margin: 20px 0;
    padding: 20px;
    border: 2px solid green;
    border-radius: 20px ;

}

.cart-container{
    background-color: rgb(89, 97, 97);
    border: 2px solid yellow;
    border-radius: 20px;
    margin: 20px 0;
    
}

